body {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #1f1f1f;
    border-radius: 10px;
    background-color: #1f1f1f;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #1f1f1f;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 0.5em;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 1em;
  border-color: #586171;
}

.message-list {
  height: 66vh;
  overflow: auto;
}

.message-send-container {
  display: flex;
  align-items: initial;
  justify-content: space-between;
  align-items: center;
}

.chat-room {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: space-between;
}

.message-div-right,
.message-div-left,
.message-div-center {
  align-items: normal;
  display: flex;
  margin: 5px 0;
}

.message-body {
  display: inline-block;
  margin: 0 5px;
  padding: 8px;
  border: 1px solid;
  border-radius: 1em;
  border-color: #586171;
}
